@import url('http://weloveiconfonts.com/api/?family=entypo');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "georgia", serif;
  color: #34373A;
  font-size: 18px;
  line-height: 1.4;
}

.top-border {
  width:100%;
  height:10px;
  background: linear-gradient(90deg, #FF5483, #A951ED, #448AFF, #40C4FF, #69F0AE, #FFD740);
	background-size: 600% 600%;
	-webkit-animation: Gradient 30s ease infinite;
	-moz-animation: Gradient 30s ease infinite;
	animation: Gradient 30s ease infinite;
}

    @-webkit-keyframes Gradient {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:100% 50%}
	}
	@-moz-keyframes Gradient {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
	@keyframes Gradient {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}

.top-border-project1{
  width:100%;
  height:10px;
  background-color: #69F0AE;

}

.top-border-project2{
  width:100%;
  height:10px;
  background-color: #40C4FF;
}

.top-border-project3{
  width:100%;
  height:10px;
  background-color: #A951ED;
}

.top-border-project4{
  width:100%;
  height:10px;
  background-color: #40C4FF;
}

.top-border-project5{
  width:100%;
  height:10px;
  background-color: #69F0AE;
}

.top-border-project6{
  width:100%;
  height:10px;
  background-color: #FFD740;
}

h1 {
  font-family: helvetica, sans-serif;
  margin-bottom: 0;
  font-size: 26px;
  font-family: 'GreycliffCF-ExtraBold', Helvetica, Arial, Sans-Serif;
}

h2 {
  font-family: helvetica, sans-serif;
  margin-bottom: 0;
  font-size: 22px;
  font-family: 'GreycliffCF-ExtraBold', Helvetica, Arial, Sans-Serif;
}


.work-item {
  border-radius: 5px;
  margin-top: 2em;
  transition: 0.15s all ease;
}

.work-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 3px #ccc;
  opacity: 0.8;
  cursor: pointer;
}

.text-light {
  opacity: 0.6;
}

.container {
  width: 675px;
  margin: 0 auto;
}


.wrapper {
  text-align: center;
  padding: 10px 0 0;
}

.social {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  line-height: 50px;
  font-family: Entypo;
  font-size: 28px;
  text-align: center;
  color: #34373A;
  opacity: 0.6;
  overflow: hidden;
}

.social:hover {
  transform: translateY(-2px);
  opacity: 0.8;
  cursor: pointer;
}


@media(max-width:700px){
 .container {
     width: 80%;
     float:none;}
}
